/* homepage/all pages  */

.navbar {
  display: flex;
  background-color: #FFFFFF;
}

.navbar a {
  color: #111;
}

.nav-label {
  font-size: 10px;
}

.nav-item {
  padding: 0px 10px 10px 0px;
} 

#logout-link {
  width: 85px;
} #logout-link > a {
  font-size: 1em;
}

#site-info {
  color: #111;
  cursor: pointer;
}


body { 
  margin: 0; 
  padding: 0;
  background-color: #7D98AA;
  font-family: 'Montserrat', sans-serif;
}

.main-content {
  position: relative;
  height: 100vh;
}

.profile {
  position: absolute;
  width: 50%;
  left: 5%;
  top: 5%;
}

.profile-info div {
  display: inline-block;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 2px;
} #art-log-img {
  width: 15em;
}

.grid-item {
  /*border: 1px solid rgba(0, 0, 0, 0.8);*/
  padding: 20px;
  font-size: 12px;
  text-align: center;
} 

#user-logs {
  padding: 0 0 0 0;
}

/* maps */

#map  { 
  position:absolute; 
  flex: 1;
  top:0;
  bottom:0; 
  width:100%;
}


#map-tour { 
  position:absolute; 
  top:0; 
  bottom:0; 
  width: 100%; 
}

.marker {
  background-image: url('icons8-marker-48.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

/* legend & pop-ups */

.art-legend {
  background-color: #FFFFFF;
  border-radius: 3px;
  top: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.10);
  font: 10px;
  padding: 10px;
  position: absolute;
  width: 150px;
  right: 15px;
  z-index: 1;
} 

.art-legend > h4 {
 font-size: 20px;
 font-style: bold;
}

.art-legend div span {
  border-radius: 50%;
  display: inline-block;
  font-size: 12px;
  height: 10px;
  margin: 5% 5% 5% 5%;
  width: 10px;
} 

.category {
  font-size: 12px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  margin-left: auto;
  margin-right: auto;
  color: #111;
}

/* sidebars */
.sidebar {
  position: relative;
  flex: 2;
  height: 100%;
  width: 0;
  top: 2px;
  left: 2px;
  background-color: #FFFFFF;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: 0.5s;
} #log-form {
  position: relative;
  width: 90%;
  left: 2%;
} #art-info {
  position: relative;
  width: 95%;
  left: 2%;
} #show-logs {
  position: relative;
  width: 90%;
  left: 2%;
  top: 20px;
}

#features {
  background-color: #FFFFFF;
} #site2-img {
  width: 28em;
}

section.active {
  opacity: 1;
}

section:last-child {
  border-bottom: none;
  margin-bottom: 500px;
}

.sidebar > h2, .sidebar > p, .sidebar > h4 {
  color: #111;
} .sidebar > h4 {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: 20px;
} 

/* The Modal (background) */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Buttons */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#sidebar-close-btn  {
  color: #aaa;
  float: left;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#sidebar-close-btn:hover,
#sidebar-close-btn:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/*forms*/

.login-form {
  width:280px;
  position: absolute;
  top: 30%;
  left: 40%;
}

.register-form {
  width:280px;
  position: absolute;
  top: 30%;
  left: 40%;
}


.add-art-form {
  position: absolute;
  width: 50%;
  left:20%;
  top: 5%;
}

input[type=text], input[type=password], input[type=email], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type="submit"], #info {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 3%;
  background: #43D1AF;
  border-bottom: 2px solid #30C29E;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;  
  color: #fff;
} 

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}   
