/* homepage/all pages  */

.navbar {
  display: flex;
  z-index: 1;
  background-color: #FFFFFF;
}

.navbar a {
  color: #696969;
}

#site-info {
  color: #696969;
  cursor: pointer;
}


body { 
  margin: 0; 
  padding: 0;
  background-color: #CAD2D3;
}

/* maps */

#map  { 
  position:absolute; 
  flex: 1;
  top:0;
  bottom:0; 
  width:100%; 
  z-index: -1;
}


#map-tour { 
  position:absolute; 
  top:0; 
  bottom:0; 
  width: 100%; 
}


/* legend */

.art-legend {
  background-color: #f7f7f7;
  border-radius: 3px;
  top: 70px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.10);
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  padding: 10px;
  position: absolute;
  right: 10px;
  z-index: 1;
}

.art-legend div span {
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  width: 10px;
}


h1 {
  font-family: 'Montserrat', sans-serif;
  margin-left: auto;
  margin-right: auto;
  color: #111;
}

/* sidebars */
.sidebar {
  position: absolute;
  flex: 2;
  height: 100%;
  width: 0;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: 0.5s;
  padding-top: 60px;
}

#features {
  background-color: #CAD2D3;
}

section.active {
  opacity: 1;
}

section:last-child {
  border-bottom: none;
  margin-bottom: 500px;
}

.sidebar > h2, .sidebar > p, .sidebar > h4 {
  color: #CAD2D3;
}

/* The Modal (background) */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#sidebar-close-btn.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}   
