{% extends 'base.html'%}

{% block title %}Add Art{% endblock%}

{% block content %}

<div class="add-art-form">
  <form action="/add_art" id="add-art-form" enctype="multipart/form-data" method="POST"> 
    <input class="add-input" type="text" name="title" placeholder="title" maxlength="30"></input><br>  
    <input class="add-input" type="text", name="artist" placeholder="artist" maxlength="30"></input><br>
    <textarea class="add-input" name="artist_desc" placeholder="artist description" maxlength="100"></textarea><br>
    <input class="add-input" id="autocomplete" name="address"
               placeholder="artwork address"
               onFocus="geolocate()"
               type="text"></input><br>
    <input class="add-input" type="text" name="medium" placeholder="medium" maxlength="30"></input><br>
    <textarea class="add-input" name="art_desc" placeholder="art description" maxlength="100"></textarea><br>
    <textarea class="add-input" type="text" name="hint" placeholder="hint" maxlength="50"></textarea><br>
    upload image<br>
    <input class="add-input" type="file" id ="image-upload" name="image"></input><br><br>
    <input type="submit" value="add art">


    <!-- address table for google places -->
    <table id="address">
    <tr>
      <!-- <td class="label">Street address</td> -->
      <td class="slimField"><input type="hidden" class="field" id="street_number" disabled="true"/></td>
      <td class="wideField" colspan="2"><input type="hidden" class="field" id="route" disabled="true"/></td>
    </tr>
    <tr>
      <!-- <td class="label">City</td> -->
      <td class="wideField" colspan="3"><input type="hidden" class="field" id="locality" disabled="true"/></td>
    </tr>
    <tr>
      <!-- <td class="label">State</td> -->
      <td class="slimField"><input type="hidden" class="field" id="administrative_area_level_1" disabled="true"/></td>
      <!-- <td class="label">Zip code</td> -->
      <td class="wideField"><input type="hidden" class="field" id="postal_code" disabled="true"/></td>
    </tr>
    <tr>
      <!-- <td class="label">Country</td> -->
      <td class="wideField" colspan="3"><input type="hidden" class="field" id="country" disabled="true"/></td>
      </tr>
  </table><br><br>

  </form>
</div>

<script src="/static/js/add_art.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnn3C-w1D9aCJpvlgJ8XRU6exyOBycYZA&libraries=places&callback=initAutocomplete"async defer></script>


{% endblock %}