{% extends 'base.html'%}

{% block title %}Add Art{% endblock%}

{% block content %}

<h1>Add Art Site</h1>
<form action="/add_art" enctype="multipart/form-data" method="POST"> 

  Title:<input type="text", name="title"></input><br>  
  Artist:<input type="text", name="artist"></input><br>
  Artist Description: <input type="text", name="artist_desc"></input><br>
  Address:<input id="autocomplete" name="address"
             placeholder="Enter your address"
             onFocus="geolocate()"
             type="text"></input><br><br>

  <table id="address">
    <tr>
      <td class="label">Street address</td>
      <td class="slimField"><input class="field" id="street_number" disabled="true"/></td>
      <td class="wideField" colspan="2"><input class="field" id="route" disabled="true"/></td>
    </tr>
    <tr>
      <td class="label">City</td>
      <td class="wideField" colspan="3"><input class="field" id="locality" disabled="true"/></td>
    </tr>
    <tr>
      <td class="label">State</td>
      <td class="slimField"><input class="field" id="administrative_area_level_1" disabled="true"/></td>
      <td class="label">Zip code</td>
      <td class="wideField"><input class="field" id="postal_code" disabled="true"/></td>
    </tr>
    <tr>
      <td class="label">Country</td>
      <td class="wideField" colspan="3"><input class="field" id="country" disabled="true"/></td>
      </tr>
  </table><br><br>

  Medium:<input type="text", name="medium"></input><br>
  Art Description:<input type="text" name="art_desc"></input><br>
  Hint:<input type="text" name="hint"></input><br>
  Image:<input type="file" name="image"></input><br>
  <input type="submit" value="add art">
  
</form>
<script>
'user-strict'

var placeSearch, autocomplete; 

var componentForm = {
  street_number: 'short_name',
  route: 'long_name',
  locality: 'long_name',
  administrative_area_level_1: 'short_name',
  country: 'long_name',
  postal_code: 'short_name'
};

function initAutocomplete() {
  // Create the autocomplete object, restricting the search predictions to
  // geographical location types.
  autocomplete = new google.maps.places.Autocomplete(
      document.getElementById('autocomplete'), {types: ['geocode']});

  // Avoid paying for data that you don't need by restricting the set of
  // place fields that are returned to just the address components.
  autocomplete.setFields(['address_component']);

  // When the user selects an address from the drop-down, populate the
  // address fields in the form.
  autocomplete.addListener('place_changed', fillInAddress);
}

function fillInAddress() {
  var place = autocomplete.getPlace();
  console.log(place)

  for (var component in componentForm) {
    document.getElementById(component).value = '';
    document.getElementById(component).disabled = false; 
  }

  for (var i = 0; i < place.address_components.length; i++) {
    var addressType = place.address_components[i].types[0];
    if (componentForm[addressType]) {
       var val = place.address_components[i][componentForm[addressType]];
            document.getElementById(addressType).value = val; 
        }
    }
}

function geolocate() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var geolocation = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };
      console.log(geolocation)
      var circle = new google.maps.Circle(
          {center: geolocation, radius: position.coords.accuracy});
      autocomplete.setBounds(circle.getBounds());
    });
  }
}
    
  
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAs2JPPNK7A2nk-Tk0Gcxm9YRy9yYKjysc&libraries=places&callback=initAutocomplete"async defer></script>


{% endblock %}