{% extends 'base.html'%}

{% block title %}Artcache{% endblock%}

{% block content %}


  <div id="map"></div>

  <div id='art-legend' class='art-legend' style="display:none;">
    <h4> Art Sites </h4>
    <div><span style='background-color: #FF3C00'></span class="catgeory">Civic</div>
    <div><span style='background-color: #00B383'></span class="category">Public 1%</div>
    <div><span style='background-color: #fbaf08'></span class="category">User</div>
  </div>

  <div id="Sidebar" class="sidebar">
    <!-- header info always stays -->
    <button id="sidebar-close-btn" class="close">&times;</button><br><br>
    <div id=art-info>
      <h2 id="title"></h2>
      <h4 id="artist"></h4>
      hint:<p id="hint"></p><p id="art-id" hidden></p>
      <button type="button" id="show-image">reveal photo</button>
    </div>
    <hr style="border: 4px; color: black;" />
    
    <!-- log artwork form -->
    <div class="log-form">
      <div>
        <h7>Log Artwork</h7>
        <form method="post" enctype="multipart/form-data" id="log-form" style="display:block;">
          Comment<br>
          <textarea type="text" id="comment" name="comment"></textarea><br>
          Image<br>
          <input type="file" id="image" name="image"></input><br><br>
          <input type="submit" value="log"></form>
        </form>
      </div>
    </div>

    <!-- user logs for site -->
    <div id="show-logs">
    <button type="button" id="info">show logs</button> 
      <div>
        <ul id="user-logs" style="display:none;">
          <!-- <div class="grid-contaner"

            <img class="grid-item" id="art-log-img" src=log.image></img>
            <span class="grid-item" id="comment"> log.comment </span></div> -->
        </ul> 
      </div>
    </div>

  <!-- info modal   -->
  <div id="info-modal" class="modal" style="display:none;">
    <div class="modal-content">
        <span id='close-btn' class="close">&times;</span>
        <div id="words">
          <h4>Discover, log, and share public art in San Francisco!</h4><br>
              <p>
                Map View: zoom in on map to see individual art sites, click them to see the title, artist and a clue to find them 
              </p>
              <p>
                <span class="info-icons"><i class="fas fa-walking"></i></span>tour: see a tour of art in different San Francisco Neighborhoods. 
              </p>
              <p>
                <span class="info-icons"><i class="far fa-plus-square"></i></span>add art: add a new artwork to the map for others to find
              </p> 
              <p>
                 <span class="info-icons"><i class="far fa-user"></i></span>Profile: view your added art and logged art
              </p> 
          <h5>data sources</h5><br>
              <p>
              1% public art program: 
              </p>
              <p>
              Civic art: 
              <p>
          <h5>about me<h5> 
          <p>
              My name is liz and I made this project as part of the Hackbright Academy Fellowship in June 2019. The idea for my project came from geocaching (dictionary definition: the recreational activity of hunting and finding hidden objects by means of GPS coordinates posted on a website), because while doing this you can discover a new place or explore a familiar one. Seeing artwork around the city is one of my favorite parts of San Francisco. I wanted a way to know more about public art, and also to allow art I’ve found. 
          </p>  
        </div>
        <button type=button class="modal-button">map</button>
        <button type="button" class="modal-button" href="/register">register</button>
        <button type="button" class="modal-button" href="/login">login</button>
      </div>
  </div> 

  <div id="image-modal" class="modal" style="display:none;">
    <div class="modal-content">
    <span id='close-btn-img' class="close">&times;</span>
    <img class="modal-content" id="art-img" style="width:100%;max-width:300px">
  </div>
  </div>
  </div>


  <script src="/static/js/heatmap.js"></script>
  <script src="/static/js/sidebar.js"></script>
  <script src="/static/js/modals.js"></script>

  <script type="text/javascript">
    {% if current_user.is_authenticated == false %}
        $('#Sidebar > .log-form').hide();
        $('#Sidebar > #show-logs').hide();
        $('#Sidebar > #art-tour').hide();
     {% endif %}
  </script>

{% endblock %}




