{% extends 'base.html'%}

{% block title %}Artcache{% endblock%}

{% block content %}


  <div id="map"></div>

  <div id="Sidebar" class="sidebar">
    <!-- header info always stays -->
    <button id="closebtn"><i class="fas fa-times"></i></button>
    <h2 id="title"></h2>
    <h4 id="artist"></h4>
    <p id="hint"></p><br>
    <!-- button -->
    <button id="log">Log</button> 
    <button id='info'>Info</button>
    <!-- add form for log on click of log button -->
    <div id="log-info">
      <div></div>
    </div>

  </div>

  <script src="/static/js/heatmap.js"></script>
  <script src="/static/js/sidebar.js"></script>

{% endblock %}




