{% extends 'base.html'%}

{% block title %}Artcache{% endblock%}

{% block content %}


  <div id="map"></div>

  <div id='art-legend' class='art-legend' style="display:none;">
    <h4> Art Sites </h4>
    <div><span style='background-color: #fbb03b'></span>Civic Art</div>
    <div><span style='background-color: #e55e5e'></span>1% Building Art</div>
    <div><span style='background-color: #214BCC'></span>User Added</div>
  </div>

  <div id="Sidebar" class="sidebar">
    <!-- header info always stays -->
    <button id="closebtn"><i class="fas fa-times"></i></button>
    <h2 id="title"></h2>
    <h4 id="artist"></h4>
    <p id="hint"></p><p id="art-id" hidden></p>
    <!-- button -->
    <button id="log">Log</button> 
    <button id="info">Info</button>
    <!-- add form for log on click of log button -->
    <div id="log-info">
      <div>
        <form method="post" enctype="multipart/form-data" id="log-form" style="display:none;">
          <input type="file" id="image" name="image"></input><br>
          <input type="text" id="comment" name="comment"></input><br>
          <input type="submit" value="submit"></form>
        </form>
      </div>
      <div>
        <ul id="user-logs" style="display:none;">
          <div id="#log">
          </div>
        </ul>
      </div>
    </div>

  </div>

  <script src="/static/js/heatmap.js"></script>
  <script src="/static/js/sidebar.js"></script>

{% endblock %}




