</!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

<div id="info-modal" class="modal">
    <div class="modal-content">
        <span class="close">  </span>
        <p> What is it 

            aksdjflkasdfjkaskldfjkalsdfjlkasdjkflkasdfkljkalsdfa
            asdklasjldfklkasdfjlaksjdflkasjdflkajsdflkjaslkdfjlkasdjflkasdlkfj

            data sources 

            sadfkjalsdjkflkasjdflkjasdlkfjlkasdjflkajsdfklajskdf
            adsflkasdlfkjalsdjflkasjdflkjasdlkfjlkasdjflkjasdflkjasdfkljasdlkjf
            dsalskdjflkasjdflkjasdlkfjkljsadf
        </p>    
    </div>
</div> 

<script src="/static/js/modals.js"></script>
</body>
</html>