{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

<div class="profile">

  <h1 id="greeting"></h1>

<div class="profile-info">
  <div class="art-adds">
  <h2>Art Adds</h2>
    <div class="grid-container" id="profile-add-row">
      <div id="add"></div>
    </div>
  </div>
  <div class="art-logs">
  <h2>Art Logs</h2>
    <div class="grid-container" id="profile-log-row">
      <div id=log ></div>
    </div>
  </div>
</div>

</div>

<script src="/static/js/profile.js"></script>

{% endblock %}