{% extends 'base.html'%}

{% block title %}Artcache{% endblock%}

{% block content %}


<div id='map-tour'></div>
<div id='features' class="sidebar">
    <section id='site1' class='active'>
      <h3>Clarion Alley</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><img id='site1-img' src="https://artcache.s3-us-west-1.amazonaws.com/clarionalley2.jpg"></img> 
    </section><br>
    <section id='site2'>
      <h3>Women's Building</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><img id='site2-img' src="https://artcache.s3-us-west-1.amazonaws.com/womensbuildingwall.jpg"></img>
    </section><br>
    <section id='site3'>
      <h3>Moraga Street Steps</h3>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><img id='site3-img' src="https://artcache.s3-us-west-1.amazonaws.com/moragastreetsteps.jpg"></img>
    </section><br>
    <section id='site4'>
      <h3>Beach Chalet</h3>
      <p>aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><img id='site4-img' src="https://artcache.s3-us-west-1.amazonaws.com/beachchalet.jpg"></img>
    </section><br>
    <section id='site5'>
      <h3>Lincoln Park Steps</h3>
      <p>aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><img id='site5-img' src="https://artcache.s3-us-west-1.amazonaws.com/lincolnparksteps2.jpg"></img>
    </section>
</div>

<script src="/static/js/tour.js"></script>


{% endblock %}

